// general
$general-font-color: #fff;
$mac-gray: rgba(215, 215, 215, 1);

// dock
$mac-label-color: #cbcdcc;
$mac-label-font-color: #000;
$mac-highlight-color: rgba(179, 216, 253, 0.4);
$mac-highlight-color-dark: darken($mac-highlight-color, 15%);

// windows
$window-background: #fff;
$mac-titlebar-color-light: rgba(240, 240, 240, 1);
$mac-titlebar-color-dark: rgba(215, 215, 215, 1);
$mac-titlebar-color-border: rgba(190, 190, 190, 1);

// buttons
$mac-close-button: rgba(252, 99, 93, 1);
$mac-close-button-border: rgba(222, 89, 83, 1);
$mac-min-button: rgba(253, 190, 65, 1);
$mac-min-button-border: rgba(223, 180, 55, 1);
$mac-expand-button: rgba(53, 205, 75, 1);
$mac-expand-button-border: rgba(43, 185, 65, 1);

// finder
$finder-text-font-color: #000;
$folder-bright-blue: darken(#76d2fb, 25%);

$vscode-dark: rgb(30, 31, 28);
$vscode-light: rgb(39, 40, 34);
$vscode-highlight: rgb(65, 67, 57);
$vscode-highlight-light: rgba(65, 67, 57, 0.25);
$vscode-gray-font: rgb(204, 204, 204);
$vscode-active-font: #fff;