@use '../../../../assets/scss/variables-mac' as *;
@use '../../../../assets/scss/mixins' as *;

.tag {
  @include short-transition;
  position: absolute;
  top: 0;
  left: 20px;
  width: 35px;
  height: 35px;
  object-fit: contain;
  background-color: $mac-gray;
  padding: 5px;
  display: flex;
  align-items: flex-end;
  z-index: 1000;

  img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  &:hover {
    height: 40px;
  }
}
