@use '../../../../assets/scss/variables-mac' as *;

.filebar {
  display: flex;
  flex-direction: column;
  background-color: $vscode-dark;
  min-width: 200px;
  height: 100%;

  &-explorer {
    color: $vscode-gray-font;
    height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;

    .text {
      font-size: 11px;
    }
  }

  .open {
    height: 30%;
  }

  .files {
    height: 70%;
    overflow: scroll;
  }

  &-header {
    background-color: $vscode-light;
    width: 100%;
    height: 25px;
  }
}
